name: Main
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: Tar Repo
        run: |
            pwd
            ls
            tar -czf ../release.tgz --exclude="./git" .
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: release.tgz
        
