name: Main
on: push

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main
      - name: ZIP Repo
        run: |
          zip -rv ../release.zip . -x "./.git/"
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: "release_2"
          tag_name: "test_release_2"
          files: ../release.zip
        
